<footer>
  <div class="footer-wrap">
    <div class="footer-columns">
      
      <!-- Project Info -->
      <div class="footer-col">
        <h4>Project</h4>
        <nav>
          <a href="{{ site.baseurl }}/about/">About</a>
          <a href="{{ site.baseurl }}/contact/">Contact</a>
          <a href="{{ site.baseurl }}/disclaimer/">Disclaimer</a>
        </nav>
      </div>

      <!-- Community Links -->
      <div class="footer-col">
        <h4>Community</h4>
        <nav>
          <a href="#">Discord (Invite only)</a>
          <a href="https://github.com/astra-timinikey/eekhue-core">GitHub</a>
        </nav>
      </div>

      <!-- Extras
      <div class="footer-col">
        <h4>Extras</h4>
        <nav>
          <a href="#">FAQ</a>
          <a href="#">Newsletter</a>
        </nav>
      </div>
      -->

    </div>

    <div class="footer-bottom">
      <p>© {{ site.time | date: "%Y" }} EekHue: Persona Explorer</p>
    </div>
  </div>
</footer>